{% extends 'base.html' %}

{% block content %}
  <div>
{#      <form action="{% url 'persons:create-passenger' %}" method='post'>{% csrf_token %}#}
{##}
{#        <label for="name">user name</label>#}
{#        <input id="name" type="text" name="name" placeholder="name"/>#}
{##}
{#        <input type="submit" value="OK">#}
{#    </form>#}
    <h1>New Passenger</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>

  </div>
{% endblock content %}
